html,
body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.lightBg {
  background-color: #FDFDFD; }

.grayBg {
  background-color: #F9F9FB; }

.darkBg {
  background-color: #2c3e50; }

section {
  padding: 80px 0; }
  @media only screen and (max-width: 480px) {
    section {
      padding: 50px 0; } }

ul {
  padding: 0;
  margin: 0;
  list-style-type: none; }

.p0 {
  padding: 0; }

h4 {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 700; }

.section-title {
  text-align: center;
  margin-bottom: 40px; }
  .section-title h2 {
    text-transform: uppercase;
    font-weight: 700;
    margin: 20px 0; }

.page-header {
  height: 300px;
  background-image: url("../img/mainService.jpg");
  background-size: cover;
  position: relative; }
  @media only screen and (max-width: 480px) {
    .page-header {
      height: 200px; } }
  .page-header .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    color: #fff; }
    @media only screen and (max-width: 480px) {
      .page-header .overlay {
        padding-top: 40px; } }
    .page-header .overlay h3 {
      text-transform: uppercase;
      font-size: 30px;
      font-weight: 700; }

.page-header--sm {
  height: 250px; }

.order-devider {
  text-align: center;
  color: #fff;
  font-size: 20px; }
  .order-devider a {
    display: block;
    margin: 30px auto 0 auto;
    height: 45px;
    line-height: 45px;
    -webkit-border-radius: 45px;
    border-radius: 45px;
    border: 1px solid #5BBC2E;
    text-align: center;
    width: 160px;
    text-transform: uppercase;
    color: #fff;
    background-color: #5BBC2E;
    text-decoration: none;
    position: relative;
    -webkit-transition: all .2s;
    transition: all .2s;
    font-size: 14px; }
    @media only screen and (min-width: 992px) {
      .order-devider a:after {
        content: '';
        position: absolute;
        top: -1px;
        left: -1px;
        width: 160px;
        height: 45px;
        background-color: transparent;
        border: 1px solid #5BBC2E;
        -webkit-border-radius: 45px;
        border-radius: 45px; }
      .order-devider a:hover {
        -webkit-box-shadow: 0 0 10px 0px #5BBC2E;
        box-shadow: 0 0 10px 0px #5BBC2E;
        color: #fff; }
        .order-devider a:hover:after {
          -webkit-transform: scale(1.4);
          -ms-transform: scale(1.4);
          transform: scale(1.4);
          opacity: 0;
          -webkit-transition: all .4s;
          transition: all .4s; } }

.price-tabs {
  text-align: center;
  padding: 15px 0;
  background-color: #F9F9FB;
  -webkit-box-shadow: 0 3px 15px -5px #000;
  box-shadow: 0 3px 15px -5px #000;
  margin-bottom: 40px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 5px solid #fff; }
  .price-tabs li {
    display: inline-block;
    text-transform: uppercase;
    -webkit-transition: all .3s;
    transition: all .3s;
    cursor: pointer;
    padding: 0 10px; }
    @media only screen and (max-width: 480px) {
      .price-tabs li {
        width: 40%;
        line-height: 2; } }
    @media only screen and (min-width: 992px) {
      .price-tabs li:hover {
        color: #5BBC2E; } }

.price-content {
  background-color: #F9F9FB;
  border: 5px solid #fff;
  -webkit-box-shadow: 0 5px 20px -5px #000;
  box-shadow: 0 5px 20px -5px #000;
  padding: 30px;
  display: none; }
  .price-content p {
    margin-bottom: 30px; }
  .price-content h5 {
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    margin-top: 50px; }
  .price-content h4 {
    text-align: center; }
  .price-content table {
    width: 100%; }
    .price-content table thead tr {
      border-bottom: 1px solid #e1e1e1; }
      .price-content table thead tr th {
        background-color: #fff; }
    .price-content table thead td,
    .price-content table thead th,
    .price-content table tbody td,
    .price-content table tbody th {
      text-align: center;
      width: 20%;
      padding: 15px 0; }
    .price-content table tbody td span {
      color: #5BBC2E;
      text-decoration: underline;
      cursor: pointer; }

.popular-prducts {
  text-align: center; }

.popular-prducts__link {
  display: block;
  padding: 20px 0;
  text-transform: uppercase;
  font-weight: 700;
  color: #000;
  position: relative;
  z-index: 1;
  -webkit-transition: all .3s;
  transition: all .3s;
  text-align: center; }
  .popular-prducts__link:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #5BBC2E;
    -webkit-transition: all .4s;
    transition: all .4s;
    z-index: -1; }
  .popular-prducts__link:hover {
    color: #fff; }
    .popular-prducts__link:hover:after {
      height: 100%; }

.products {
  text-align: center; }

.products__link {
  line-height: 40px;
  color: #000;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
  font-size: 18px; }
  .products__link:before {
    content: '';
    position: absolute;
    left: -10px;
    top: 40%;
    background-color: #5BBC2E;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    height: 0;
    width: 0;
    -webkit-transition: all .3s;
    transition: all .3s; }
  .products__link:hover {
    color: #5BBC2E; }
    .products__link:hover:before {
      height: 7px;
      width: 7px;
      left: -20px; }

.portfolio-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.portfolio-item {
  width: 350px;
  position: relative;
  overflow: hidden;
  margin: 15px; }
  .portfolio-item img {
    width: 100%; }
  .portfolio-item .line {
    position: absolute;
    background-color: #5BBC2E;
    -webkit-transition: all .4s;
    transition: all .4s;
    top: 0;
    left: 0; }
    .portfolio-item .line:first-child {
      width: 0;
      height: 4px; }
    .portfolio-item .line:nth-child(2) {
      height: 0;
      width: 4px; }
  @media only screen and (min-width: 992px) {
    .portfolio-item:hover .line:first-child {
      width: 100px; }
    .portfolio-item:hover .line:nth-child(2) {
      height: 100px; } }

.blog-item {
  -webkit-box-shadow: 0 0 20px -5px #000;
  box-shadow: 0 0 20px -5px #000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 50px; }
  @media only screen and (max-width: 480px) {
    .blog-item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; } }

.blog-item__img {
  width: 30%; }
  @media only screen and (max-width: 480px) {
    .blog-item__img {
      width: 100%; } }

.blog-item__descr {
  width: 70%;
  padding: 20px 20px 60px 20px;
  position: relative; }
  @media only screen and (max-width: 480px) {
    .blog-item__descr {
      width: 100%;
      text-align: center; } }

.blog-item__title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px; }

.blog-item__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #2c3e50;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  line-height: 50px;
  color: #fff;
  padding-left: 20px; }
  .blog-item__footer a {
    display: block;
    background-color: #5BBC2E;
    color: #fff;
    padding: 0 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px; }

.blog-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 140px 0 50px 0; }
  .blog-header h3 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 25px; }

.blog-note__title-image {
  width: 100%;
  margin-bottom: 40px;
  -webkit-box-shadow: 0 0 50px -10px #000;
  box-shadow: 0 0 50px -10px #000; }

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100; }

.menuBtn {
  display: none; }
  @media only screen and (max-width: 480px) {
    .menuBtn {
      display: block;
      position: fixed;
      top: 60px;
      left: 0;
      width: 100%;
      height: 50px;
      line-height: 50px;
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 3px;
      background-color: #5BBC2E;
      color: #fff;
      z-index: 999; } }

.top-contact {
  height: 80px;
  line-height: 80px;
  font-size: 14px;
  background-color: #34495e; }
  @media only screen and (max-width: 480px) {
    .top-contact {
      height: 60px;
      line-height: 1.2; } }
  @media only screen and (max-width: 480px) {
    .top-contact .phones {
      margin-top: 5px; } }
  .top-contact a {
    color: #fff;
    margin-right: 20px; }
    @media only screen and (max-width: 480px) {
      .top-contact a {
        font-size: 12px; } }
  .top-contact .topButtons {
    text-align: center; }
    .top-contact .topButtons a {
      display: inline-block; }
      .top-contact .topButtons a:first-child {
        margin-right: 20px;
        height: 45px;
        line-height: 45px;
        -webkit-border-radius: 45px;
        border-radius: 45px;
        border: 1px solid #5BBC2E;
        text-align: center;
        width: 160px;
        text-transform: uppercase;
        color: #fff;
        background-color: #5BBC2E;
        text-decoration: none;
        position: relative;
        -webkit-transition: all .2s;
        transition: all .2s;
        font-size: 14px; }
        @media only screen and (min-width: 992px) {
          .top-contact .topButtons a:first-child:after {
            content: '';
            position: absolute;
            top: -1px;
            left: -1px;
            width: 160px;
            height: 45px;
            background-color: transparent;
            border: 1px solid #5BBC2E;
            -webkit-border-radius: 45px;
            border-radius: 45px; }
          .top-contact .topButtons a:first-child:hover {
            -webkit-box-shadow: 0 0 10px 0px #5BBC2E;
            box-shadow: 0 0 10px 0px #5BBC2E;
            color: #fff; }
            .top-contact .topButtons a:first-child:hover:after {
              -webkit-transform: scale(1.4);
              -ms-transform: scale(1.4);
              transform: scale(1.4);
              opacity: 0;
              -webkit-transition: all .4s;
              transition: all .4s; } }
      .top-contact .topButtons a:last-child {
        height: 45px;
        line-height: 45px;
        -webkit-border-radius: 45px;
        border-radius: 45px;
        border: 1px solid #5BBC2E;
        text-align: center;
        width: 160px;
        text-transform: uppercase;
        color: #5BBC2E;
        background-color: transparent;
        text-decoration: none;
        position: relative;
        -webkit-transition: all .2s;
        transition: all .2s;
        font-size: 14px; }
        @media only screen and (min-width: 992px) {
          .top-contact .topButtons a:last-child:after {
            content: '';
            position: absolute;
            top: -1px;
            left: -1px;
            width: 160px;
            height: 45px;
            background-color: transparent;
            border: 1px solid #5BBC2E;
            -webkit-border-radius: 45px;
            border-radius: 45px; }
          .top-contact .topButtons a:last-child:hover {
            -webkit-box-shadow: 0 0 10px 0px #5BBC2E;
            box-shadow: 0 0 10px 0px #5BBC2E;
            color: #5BBC2E; }
            .top-contact .topButtons a:last-child:hover:after {
              -webkit-transform: scale(1.4);
              -ms-transform: scale(1.4);
              transform: scale(1.4);
              opacity: 0;
              -webkit-transition: all .4s;
              transition: all .4s; } }
  .top-contact .logo {
    margin: 0; }
    .top-contact .logo img {
      height: 60px; }
      @media only screen and (max-width: 480px) {
        .top-contact .logo img {
          height: 40px;
          margin-top: 10px; } }

.top-panel {
  height: 60px;
  line-height: 60px;
  background-color: #2c3e50; }
  @media only screen and (max-width: 480px) {
    .top-panel {
      height: auto;
      display: none;
      margin-top: 50px;
      line-height: 3.2; } }
  .top-panel .menu {
    text-align: center; }
    .top-panel .menu > li {
      display: inline-block;
      position: relative; }
      @media only screen and (max-width: 480px) {
        .top-panel .menu > li {
          display: block; } }
      .top-panel .menu > li .dd-menu {
        position: absolute;
        top: 95%;
        left: 0;
        line-height: 1.2;
        background-color: #34495e;
        text-align: left;
        padding: 20px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: none;
        width: 300px;
        text-align: center; }
        @media only screen and (max-width: 480px) {
          .top-panel .menu > li .dd-menu {
            position: static;
            padding: 10px 0;
            line-height: 2;
            width: 100%; } }
        .top-panel .menu > li .dd-menu li {
          padding: 5px 0; }
          .top-panel .menu > li .dd-menu li a {
            color: #fff; }
      .top-panel .menu > li > a,
      .top-panel .menu > li > span {
        text-transform: uppercase;
        color: #fff;
        -webkit-transition: all .3s;
        transition: all .3s;
        display: block;
        position: relative;
        padding: 0 10px;
        z-index: 1;
        font-size: 14px; }
        @media only screen and (min-width: 992px) {
          .top-panel .menu > li > a:after,
          .top-panel .menu > li > span:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 0;
            top: 50%;
            left: 0;
            background-color: #5BBC2E;
            -webkit-transition: all .4s;
            transition: all .4s;
            z-index: -1; } }
      @media only screen and (min-width: 992px) {
        .top-panel .menu > li:hover .dd-menu {
          display: block; }
        .top-panel .menu > li:hover > a,
        .top-panel .menu > li:hover > span {
          color: #fff; }
          .top-panel .menu > li:hover > a:after,
          .top-panel .menu > li:hover > span:after {
            height: 100%;
            top: 0; } }
  .top-panel .logo img {
    height: 50px; }

header {
  height: 100vh;
  background-image: url("../img/bg1.jpg");
  background-size: cover; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

header .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  header .overlay .main-title {
    color: #fff;
    text-align: center; }
    header .overlay .main-title h1 {
      text-transform: uppercase;
      font-weight: 700; }
    header .overlay .main-title a {
      height: 45px;
      line-height: 45px;
      -webkit-border-radius: 45px;
      border-radius: 45px;
      border: 1px solid #5BBC2E;
      text-align: center;
      width: 160px;
      text-transform: uppercase;
      color: #fff;
      background-color: #5BBC2E;
      text-decoration: none;
      position: relative;
      -webkit-transition: all .2s;
      transition: all .2s;
      font-size: 14px;
      display: block;
      margin: 0 auto; }
      @media only screen and (min-width: 992px) {
        header .overlay .main-title a:after {
          content: '';
          position: absolute;
          top: -1px;
          left: -1px;
          width: 160px;
          height: 45px;
          background-color: transparent;
          border: 1px solid #5BBC2E;
          -webkit-border-radius: 45px;
          border-radius: 45px; }
        header .overlay .main-title a:hover {
          -webkit-box-shadow: 0 0 10px 0px #5BBC2E;
          box-shadow: 0 0 10px 0px #5BBC2E;
          color: #fff; }
          header .overlay .main-title a:hover:after {
            -webkit-transform: scale(1.4);
            -ms-transform: scale(1.4);
            transform: scale(1.4);
            opacity: 0;
            -webkit-transition: all .4s;
            transition: all .4s; } }
    header .overlay .main-title p {
      margin-bottom: 30px; }

.service-item {
  margin-bottom: 30px;
  padding: 20px;
  -webkit-box-shadow: 0 3px 30px -10px #000;
  box-shadow: 0 3px 30px -10px #000;
  position: relative;
  min-height: 350px; }
  .service-item img {
    height: 60px;
    margin-bottom: 20px; }
  .service-item:after, .service-item:before {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #5BBC2E;
    content: '';
    -webkit-transition: all .5s;
    transition: all .5s; }
  .service-item:before {
    width: 2px;
    height: 120px; }
  .service-item:after {
    width: 120px;
    height: 2px; }

.product-item {
  text-align: center;
  height: 250px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 30px; }
  @media only screen and (max-width: 480px) {
    .product-item {
      font-size: 14px; } }
  .product-item:hover .product-item__name:before {
    width: 100%;
    left: 0; }

.product-item__img {
  height: 120px; }

.product-item__name {
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 20px;
  padding-top: 17px;
  position: relative; }
  .product-item__name:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transition: all .4s;
    transition: all .4s;
    width: 0;
    height: 5px;
    background-color: #5BBC2E; }

.products-main-more {
  height: 45px;
  line-height: 45px;
  -webkit-border-radius: 45px;
  border-radius: 45px;
  border: 1px solid #5BBC2E;
  text-align: center;
  width: 160px;
  text-transform: uppercase;
  color: #fff;
  background-color: #5BBC2E;
  text-decoration: none;
  position: relative;
  -webkit-transition: all .2s;
  transition: all .2s;
  font-size: 14px;
  display: block;
  margin: 30px auto 0 auto; }
  @media only screen and (min-width: 992px) {
    .products-main-more:after {
      content: '';
      position: absolute;
      top: -1px;
      left: -1px;
      width: 160px;
      height: 45px;
      background-color: transparent;
      border: 1px solid #5BBC2E;
      -webkit-border-radius: 45px;
      border-radius: 45px; }
    .products-main-more:hover {
      -webkit-box-shadow: 0 0 10px 0px #5BBC2E;
      box-shadow: 0 0 10px 0px #5BBC2E;
      color: #fff; }
      .products-main-more:hover:after {
        -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4);
        transform: scale(1.4);
        opacity: 0;
        -webkit-transition: all .4s;
        transition: all .4s; } }

.about-content h4 {
  margin-bottom: 20px; }

.about-content p {
  margin-bottom: 20px; }

.about-content a {
  display: block;
  height: 45px;
  line-height: 45px;
  -webkit-border-radius: 45px;
  border-radius: 45px;
  border: 1px solid #5BBC2E;
  text-align: center;
  width: 160px;
  text-transform: uppercase;
  color: #5BBC2E;
  background-color: transparent;
  text-decoration: none;
  position: relative;
  -webkit-transition: all .2s;
  transition: all .2s;
  font-size: 14px; }
  @media only screen and (min-width: 992px) {
    .about-content a:after {
      content: '';
      position: absolute;
      top: -1px;
      left: -1px;
      width: 160px;
      height: 45px;
      background-color: transparent;
      border: 1px solid #5BBC2E;
      -webkit-border-radius: 45px;
      border-radius: 45px; }
    .about-content a:hover {
      -webkit-box-shadow: 0 0 10px 0px #5BBC2E;
      box-shadow: 0 0 10px 0px #5BBC2E;
      color: #5BBC2E; }
      .about-content a:hover:after {
        -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4);
        transform: scale(1.4);
        opacity: 0;
        -webkit-transition: all .4s;
        transition: all .4s; } }
  @media only screen and (max-width: 480px) {
    .about-content a {
      margin: 0 auto; } }

.about-imgBlock {
  padding: 7px;
  position: relative;
  -webkit-box-shadow: 0 5px 50px -10px #000;
  box-shadow: 0 5px 50px -10px #000; }
  @media only screen and (max-width: 480px) {
    .about-imgBlock {
      margin-top: 40px; } }
  .about-imgBlock img {
    width: 100%; }
  .about-imgBlock:after, .about-imgBlock:before {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #5BBC2E;
    content: '';
    -webkit-transition: all .5s;
    transition: all .5s; }
  .about-imgBlock:before {
    width: 2px;
    height: 0; }
  .about-imgBlock:after {
    width: 0;
    height: 2px; }
  .about-imgBlock:hover:before {
    height: 150px; }
  .about-imgBlock:hover:after {
    width: 150px; }

.how-item {
  text-align: center;
  position: relative;
  height: 300px; }
  .how-item img {
    width: 150px; }
  .how-item p {
    margin-top: 20px; }
  .how-item .nextLine {
    height: 1px;
    width: 100px;
    border-top: 3px dashed #5BBC2E;
    position: absolute;
    top: 100px;
    right: -25%; }
    @media only screen and (max-width: 480px) {
      .how-item .nextLine {
        display: none; } }

.tech-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .tech-container .item {
    width: 26%;
    background-image: url("../img/bg1.jpg");
    background-size: cover;
    margin: 10px;
    position: relative;
    -webkit-transition: all .4s;
    transition: all .4s; }
    @media only screen and (max-width: 480px) {
      .tech-container .item {
        width: 40%; } }
    .tech-container .item .overlay {
      background-color: rgba(44, 62, 80, 0.5);
      padding-top: 50%;
      text-align: center; }
      .tech-container .item .overlay p {
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 700;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        color: #fff; }
        @media only screen and (max-width: 480px) {
          .tech-container .item .overlay p {
            text-align: center;
            font-size: 14px;
            font-weight: 400; } }
      @media only screen and (min-width: 992px) {
        .tech-container .item .overlay:after, .tech-container .item .overlay:before {
          position: absolute;
          top: 0;
          left: 0;
          background-color: #5BBC2E;
          content: '';
          -webkit-transition: all .5s;
          transition: all .5s; }
        .tech-container .item .overlay:before {
          width: 2px;
          height: 0; }
        .tech-container .item .overlay:after {
          width: 0;
          height: 2px; } }
    @media only screen and (min-width: 992px) {
      .tech-container .item:hover {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        z-index: 5;
        -webkit-box-shadow: 0 3px 30px -5px #000;
        box-shadow: 0 3px 30px -5px #000; }
        .tech-container .item:hover .overlay:before {
          height: 150px; }
        .tech-container .item:hover .overlay:after {
          width: 150px; } }

.report-img {
  position: relative;
  padding: 7px;
  -webkit-box-shadow: 0 3px 20px -5px #000;
  box-shadow: 0 3px 20px -5px #000;
  background-color: #FFF; }
  .report-img img {
    width: 100%; }
  .report-img:after, .report-img:before {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #5BBC2E;
    content: '';
    -webkit-transition: all .5s;
    transition: all .5s; }
  .report-img:before {
    width: 2px;
    height: 150px; }
  .report-img:after {
    width: 150px;
    height: 2px; }

.report-body {
  background-color: #FFF;
  padding: 30px;
  position: relative; }
  .report-body span {
    color: #9F9F9F; }
  .report-body p {
    margin-top: 20px; }
  .report-body:after {
    content: '';
    position: absolute;
    top: 30px;
    left: -40px;
    border: 20px solid transparent;
    border-right: 20px solid #fff;
    border-bottom: 20px solid #fff; }

.clients-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-top: 30px; }
  .clients-block .item {
    width: 13%; }
    @media only screen and (max-width: 480px) {
      .clients-block .item {
        width: 40%;
        margin-bottom: 20px; } }
    .clients-block .item img {
      width: 100%; }

.main-form {
  padding: 30px;
  background-color: #FFF;
  -webkit-box-shadow: 0 3px 20px -5px #000;
  box-shadow: 0 3px 20px -5px #000;
  position: relative;
  text-align: center; }
  @media only screen and (max-width: 480px) {
    .main-form {
      padding: 20px;
      margin-bottom: 30px; } }
  .main-form:after, .main-form:before {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #5BBC2E;
    content: '';
    -webkit-transition: all .5s;
    transition: all .5s; }
  .main-form:before {
    width: 2px;
    height: 150px; }
  .main-form:after {
    width: 150px;
    height: 2px; }
  .main-form input,
  .main-form textarea {
    width: 100%;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #9F9F9F;
    padding: 5px 10px;
    margin-bottom: 40px;
    text-align: left; }
  .main-form button {
    height: 45px;
    line-height: 45px;
    -webkit-border-radius: 45px;
    border-radius: 45px;
    border: 1px solid #5BBC2E;
    text-align: center;
    width: 160px;
    text-transform: uppercase;
    color: #fff;
    background-color: #5BBC2E;
    text-decoration: none;
    position: relative;
    -webkit-transition: all .2s;
    transition: all .2s;
    font-size: 14px;
    line-height: 1;
    margin: 0 auto; }
    @media only screen and (min-width: 992px) {
      .main-form button:after {
        content: '';
        position: absolute;
        top: -1px;
        left: -1px;
        width: 160px;
        height: 45px;
        background-color: transparent;
        border: 1px solid #5BBC2E;
        -webkit-border-radius: 45px;
        border-radius: 45px; }
      .main-form button:hover {
        -webkit-box-shadow: 0 0 10px 0px #5BBC2E;
        box-shadow: 0 0 10px 0px #5BBC2E;
        color: #fff; }
        .main-form button:hover:after {
          -webkit-transform: scale(1.4);
          -ms-transform: scale(1.4);
          transform: scale(1.4);
          opacity: 0;
          -webkit-transition: all .4s;
          transition: all .4s; } }

.map-block {
  -webkit-box-shadow: 0 3px 20px -5px #000;
  box-shadow: 0 3px 20px -5px #000; }

.contact-data {
  background-color: #fff;
  margin: 40px 0;
  padding: 20px; }

.contact-data__item img {
  width: 30px;
  margin-right: 5px; }

footer {
  height: 80px;
  line-height: 80px;
  background-color: #2c3e50;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  footer div,
  footer .dev-block {
    width: 20%; }
  footer .menu {
    width: 60%;
    text-align: center; }
    footer .menu li {
      display: inline-block;
      padding: 0 10px; }
      footer .menu li a {
        color: #fff;
        text-transform: uppercase;
        font-size: 14px; }
  footer .dev-block {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 14px; }
    footer .dev-block img {
      width: 25px;
      margin-right: 5px;
      vertical-align: text-bottom; }
