.blog-item
    box-shadow: 0 0 20px -5px #000
    display: flex
    padding: 0
    flex-wrap: wrap
    margin-bottom: 50px
    @media only screen and (max-width : 480px)
        flex-direction: column
.blog-item__img
    width: 30%
    @media only screen and (max-width : 480px)
        width: 100%
.blog-item__descr
    width: 70%
    padding: 20px 20px 60px 20px
    position: relative
    @media only screen and (max-width : 480px)
        width: 100%
        text-align: center

.blog-item__title
    text-transform: uppercase
    font-size: 20px
    font-weight: 700
    margin-bottom: 10px


.blog-item__footer
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    height: 50px
    background-color: $dark1
    display: flex
    justify-content: space-between
    line-height: 50px
    color: #fff
    padding-left: 20px
    a
        display: block
        background-color: $accent
        color: #fff
        padding: 0 30px
        text-transform: uppercase
        letter-spacing: 1px
        font-size: 14px


.blog-header
    display: flex
    align-items: center
    justify-content: center
    padding: 140px 0 50px 0
    h3
        text-transform: uppercase
        font-weight: 700
        font-size: 25px


.blog-note__title-image
    width: 100%
    margin-bottom: 40px
    box-shadow: 0 0 50px -10px #000