.price-tabs
	text-align: center
	padding: 15px 0
	background-color: $gray
	box-shadow: 0 3px 15px -5px #000
	margin-bottom: 40px
	border-radius: 10px
	border: 5px solid #fff
	li
		display: inline-block
		text-transform: uppercase
		transition: all .3s
		cursor: pointer
		padding: 0 10px
		@media only screen and (max-width : 480px)
			width: 40%
			line-height: 2
		@media only screen and (min-width : 992px)
			&:hover
				color: $accent

.price-content
	background-color: $gray
	border: 5px solid #fff
	box-shadow: 0 5px 20px -5px #000
	padding: 30px
	display: none
	p
		margin-bottom: 30px
	h5
		text-transform: uppercase
		font-size: 18px
		text-align: center
		margin-top: 50px
	h4
		text-align: center
	table
		width: 100%
		thead
			tr
				border-bottom: 1px solid #e1e1e1
				th
					background-color: #fff
		thead,
		tbody
			td,
			th
				text-align: center
				width: 20%
				padding: 15px 0
		tbody
			td
				span
					color: $accent
					text-decoration: underline
					cursor: pointer
