.popular-prducts
    text-align: center
.popular-prducts__link
    display: block
    padding: 20px 0
    text-transform: uppercase
    font-weight: 700
    color: #000
    position: relative
    z-index: 1
    transition: all .3s
    text-align: center
    &:after
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 0
        background-color: $accent
        transition: all .4s
        z-index: -1
    &:hover
        color: #fff
        &:after
            height: 100%
.products
    text-align: center
.products__link
    line-height: 40px
    color: #000
    position: relative
    transition: all .3s
    font-size: 18px
    &:before
        content: ''
        position: absolute
        left: -10px
        top: 40%
        background-color: $accent
        border-radius: 50%
        height: 0
        width: 0
        transition: all .3s
    &:hover
        color: $accent
        &:before
            height: 7px
            width: 7px
            left: -20px