.portfolio-box
    display: flex
    flex-wrap: wrap
    justify-content: center
.portfolio-item
    width: 350px
    position: relative
    overflow: hidden
    margin: 15px
    img
        width: 100%
    .line
        position: absolute
        background-color: $accent
        transition: all .4s
        top: 0
        left: 0
        &:first-child
            width: 0
            height: 4px
        &:nth-child(2)
            height: 0
            width: 4px
    @media only screen and (min-width : 992px)
        &:hover
            .line
                &:first-child
                    width: 100px
                &:nth-child(2)
                    height: 100px