$dark1: #2c3e50
$dark2: #34495e
$accent: #5BBC2E

$lightGray: #FDFDFD
$gray: #F9F9FB
$btnGray: #9F9F9F


html,
body
	font-size: 16px
	font-family: 'Roboto', sans-serif
	overflow-x: hidden
a
	text-decoration: none
	&:hover
		text-decoration: none	
.overlay
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
.lightBg
	background-color: $lightGray

.grayBg
	background-color: $gray
.darkBg
	background-color: $dark1

section
	padding: 80px 0
	@media only screen and (max-width : 480px)
		padding: 50px 0

ul
	padding: 0
	margin: 0
	list-style-type: none

.p0
	padding: 0	

h4
	font-size: 1.3rem
	text-transform: uppercase
	font-weight: 700

.section-title
	text-align: center
	margin-bottom: 40px
	h2
		text-transform: uppercase
		font-weight: 700
		margin: 20px 0			




=btn($bgColor, $borderColor, $textColor)
	height: 45px
	line-height: 45px
	border-radius: 45px
	border: 1px solid $borderColor
	text-align: center
	width: 160px
	text-transform: uppercase
	color: $textColor
	background-color: $bgColor
	text-decoration: none
	position: relative
	transition: all .2s
	font-size: 14px
	@media only screen and (min-width : 992px)
		&:after
			content: ''
			position: absolute
			top: -1px
			left: -1px
			width: 160px
			height: 45px
			background-color: transparent
			border: 1px solid $borderColor
			border-radius: 45px
		&:hover
			box-shadow: 0 0 10px 0px $borderColor
			color: $textColor
			&:after
				transform: scale(1.4)
				opacity: 0
				transition: all .4s



.page-header
	height: 300px
	background-image: url("../img/mainService.jpg")
	background-size: cover
	position: relative
	@media only screen and (max-width : 480px)
		height: 200px
	.overlay
		background-color: transparentize(#000, .5)
		display: flex
		flex-direction: column
		justify-content: center
		text-align: center
		color: #fff
		@media only screen and (max-width : 480px)
			padding-top: 40px
		h3
			text-transform: uppercase
			font-size: 30px
			font-weight: 700
.page-header--sm
	height: 250px



.order-devider
	text-align: center
	color: #fff
	font-size: 20px
	a
		display: block
		margin: 30px auto 0 auto
		+btn($accent, $accent, #fff)