@import vars
@import pricePage
@import productsPage
@import productPage
@import blogPage

nav
	position: fixed
	top: 0
	left: 0
	width: 100%
	z-index: 100
.menuBtn
	display: none
	@media only screen and (max-width : 480px)
		display: block
		position: fixed
		top: 60px
		left: 0
		width: 100%
		height: 50px
		line-height: 50px
		text-align: center
		text-transform: uppercase
		font-weight: 700
		letter-spacing: 3px
		background-color: $accent
		color: #fff
		z-index: 999
.top-contact
	height: 80px
	line-height: 80px
	font-size: 14px
	background-color: $dark2
	@media only screen and (max-width : 480px)
		height: 60px
		line-height: 1.2
	.phones
		@media only screen and (max-width : 480px)
			margin-top: 5px
	a
		color: #fff
		margin-right: 20px
		@media only screen and (max-width : 480px)
			font-size: 12px
	.topButtons
		text-align: center
		a
			display: inline-block
			&:first-child
				margin-right: 20px
				+btn($accent, $accent, #fff)
			&:last-child
				+btn(transparent, $accent, $accent)
	.logo
		margin: 0
		img
			height: 60px
			@media only screen and (max-width : 480px)
				height: 40px
				margin-top: 10px

.top-panel
	height: 60px
	line-height: 60px
	background-color: $dark1
	@media only screen and (max-width : 480px)
		height: auto
		display: none
		margin-top: 50px
		line-height: 3.2
		// position: fixed
		// top: 110px
		// left: 0
		// width: 100%
	.menu
		text-align: center
		>li
			display: inline-block
			position: relative
			@media only screen and (max-width : 480px)
				display: block
			.dd-menu
				position: absolute
				top: 95%
				left: 0
				line-height: 1.2
				background-color: $dark2
				text-align: left
				padding: 20px
				box-sizing: border-box
				display: none
				width: 300px
				text-align: center
				@media only screen and (max-width : 480px)
					position: static
					// display: block
					padding: 10px 0
					line-height: 2
					width: 100%
				li
					padding: 5px 0
					a
						color: #fff

			>a,
			>span
				text-transform: uppercase
				color: #fff
				transition: all .3s
				display: block
				position: relative
				padding: 0 10px
				z-index: 1
				font-size: 14px
				@media only screen and (min-width : 992px)
					&:after
						content: ''
						position: absolute
						width: 100%
						height: 0
						top: 50%
						left: 0
						background-color: $accent
						transition: all .4s
						z-index: -1
			@media only screen and (min-width : 992px)
				&:hover
					.dd-menu
						display: block
					>a,
					>span
						color: #fff
						&:after
							height: 100%
							top: 0
	.logo
		img
			height: 50px



header
	height: 100vh
	background-image: url("../img/bg1.jpg")
	background-size: cover

.overlay
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%



header
	.overlay
		background-color: transparentize(#000, .5)
		display: flex
		align-items: center
		justify-content: center
		.main-title
			color: #fff
			text-align: center
			h1
				text-transform: uppercase
				font-weight: 700
			a
				+btn($accent, $accent, #fff)
				display: block
				margin: 0 auto
			p
				margin-bottom: 30px



.service-item
	margin-bottom: 30px
	padding: 20px
	box-shadow: 0 3px 30px -10px #000
	position: relative
	min-height: 350px
	img
		height: 60px
		margin-bottom: 20px
	&:after,
	&:before
		position: absolute
		top: 0
		left: 0
		background-color: $accent
		content: ''
		transition: all .5s
	&:before
		width: 2px
		height: 120px
	&:after
		width: 120px
		height: 2px


// .services_s
// 	padding: 0
// 	display: flex
// 	position: relative
// .service-half
// 	width: 50%
// 	height: 600px
// 	background-size: cover
// 	background-position: right
// 	position: relative
// 	.overlay
// 		background-color: transparentize($dark1, .4)
// 		display: flex
// 		flex-direction: column
// 		justify-content: center
// 		align-items: center
// 		color: #fff
// 		h3
// 			text-transform: uppercase
// 			font-weight: 700
// 			margin-bottom: 30px
// 		p
// 			width: 80%
// 			text-align: center
// 			margin-bottom: 30px
// 		a
// 			+btn($accent, $accent, #fff)
// 			display: block
// .service-more
// 	position: absolute
// 	top: 0
// 	height: 100%
// 	background-color: #fff
// 	z-index: 50
// 	.content
// 		display: none
// 		position: relative
// 		padding: 70px 30px 0 50px
// 		.closeServMore
// 			width: 40px
// 			position: absolute
// 			top: 15px
// 			cursor: pointer
// 		&:after,
// 		&:before
// 			position: absolute
// 			content: ''
// 			top: 0
// 			background-color: $accent
// 		&:before
// 			height: 2px
// 			width: 200px
// 		&:after
// 			height: 200px
// 			width: 2px
// 		ul
// 			li
// 				text-transform: uppercase
// 				padding: 5px 0
// 				font-size: 18px




// .serviceMore
// 	right: 0
// 	transition: all .5s
// 	width: 0
// 	.content
// 		.closeServMore
// 			right: 15px
// 		&:after,
// 		&:before
// 			right: 0
// .prodMore
// 	left: 0
// 	transition: all .5s
// 	width: 0
// 	.content
// 		.closeServMore
// 			left: 15px
// 		&:after,
// 		&:before
// 			left: 0


.product-item
	text-align: center
	height: 250px
	box-sizing: border-box
	padding-top: 30px
	@media only screen and (max-width : 480px)
		font-size: 14px
	&:hover
		.product-item__name
			&:before
				width: 100%
				left: 0
	
.product-item__img
	height: 120px

.product-item__name
	text-transform: uppercase
	font-size: 18px
	margin-top: 20px
	padding-top: 17px
	position: relative
	&:before
		content: ''
		position: absolute
		top: 0
		left: 50%
		transition: all .4s
		width: 0
		height: 5px
		background-color: $accent
.products-main-more
	+btn($accent, $accent, #fff)
	display: block
	margin: 30px auto 0 auto

.about-content
	h4
		margin-bottom: 20px
	p
		margin-bottom: 20px
	a
		display: block
		+btn(transparent, $accent, $accent)
		@media only screen and (max-width : 480px)
			margin: 0 auto

.about-imgBlock
	padding: 7px
	position: relative
	box-shadow: 0 5px 50px -10px #000
	@media only screen and (max-width : 480px)
		margin-top: 40px
	img
		width: 100%
	&:after,
	&:before
		position: absolute
		top: 0
		left: 0
		background-color: $accent
		content: ''
		transition: all .5s
	&:before
		width: 2px
		height: 0
	&:after
		width: 0
		height: 2px
	&:hover
		&:before
			height: 150px
		&:after
			width: 150px



.how-item
	text-align: center
	position: relative
	height: 300px
	img
		width: 150px
	p
		margin-top: 20px
	.nextLine
		height: 1px
		width: 100px
		border-top: 3px dashed $accent
		position: absolute
		top: 100px
		right: -25%
		@media only screen and (max-width : 480px)
			display: none



.tech-container
	display: flex
	flex-wrap: wrap
	justify-content: center
	.item
		width: 26%
		background-image: url("../img/bg1.jpg")
		background-size: cover
		margin: 10px
		position: relative
		transition: all .4s
		@media only screen and (max-width : 480px)
			width: 40%
		.overlay
			background-color: transparentize($dark1, .5)
			padding-top: 50%
			text-align: center
			p
				font-size: 20px
				text-transform: uppercase
				font-weight: 700
				transform: translateY(-50%)
				// position: absolute
				// bottom: 30px
				// left: 20px
				color: #fff
				@media only screen and (max-width : 480px)
					text-align: center
					font-size: 14px
					font-weight: 400
					
			@media only screen and (min-width : 992px)
				&:after,
				&:before
					position: absolute
					top: 0
					left: 0
					background-color: $accent
					content: ''
					transition: all .5s
				&:before
					width: 2px
					height: 0
				&:after
					width: 0
					height: 2px
		@media only screen and (min-width : 992px)
			&:hover
				transform: scale(1.2)
				z-index: 5
				box-shadow: 0 3px 30px -5px #000
				.overlay
					&:before
						height: 150px
					&:after
						width: 150px



.report-img
	position: relative
	padding: 7px
	box-shadow: 0 3px 20px -5px #000
	background-color: #FFF
	img
		width: 100%
	&:after,
	&:before
		position: absolute
		top: 0
		left: 0
		background-color: $accent
		content: ''
		transition: all .5s
	&:before
		width: 2px
		height: 150px
	&:after
		width: 150px
		height: 2px

.report-body
	background-color: #FFF
	padding: 30px
	position: relative
	span
		color: $btnGray
	p
		margin-top: 20px
	&:after
		content: ''
		position: absolute
		top: 30px
		left: -40px
		border: 20px solid transparent
		border-right: 20px solid #fff
		border-bottom: 20px solid #fff



.clients-block
	display: flex
	flex-wrap: wrap
	justify-content: space-around
	margin-top: 30px
	.item
		width: 13%
		@media only screen and (max-width : 480px)
			width: 40%
			margin-bottom: 20px
		img
			width: 100%


.main-form
	padding: 30px
	background-color: #FFF
	box-shadow: 0 3px 20px -5px #000
	position: relative
	text-align: center
	@media only screen and (max-width : 480px)
		padding: 20px
		margin-bottom: 30px
	&:after,
	&:before
		position: absolute
		top: 0
		left: 0
		background-color: $accent
		content: ''
		transition: all .5s
	&:before
		width: 2px
		height: 150px
	&:after
		width: 150px
		height: 2px
	input,
	textarea
		width: 100%
		border: none
		background-color: transparent
		border-bottom: 1px solid $btnGray
		padding: 5px 10px
		margin-bottom: 40px
		text-align: left
	button
		+btn($accent, $accent, #fff)
		line-height: 1
		margin: 0 auto

.map-block
	box-shadow: 0 3px 20px -5px #000

.contact-data
	background-color: #fff
	margin: 40px 0
	padding: 20px
.contact-data__item
	img
		width: 30px
		margin-right: 5px


//footer
footer
	height: 80px
	line-height: 80px
	background-color: $dark1
	display: flex
	div,
	.dev-block
		width: 20%
	.menu
		width: 60%
		text-align: center
		li
			display: inline-block
			padding: 0 10px
			a
				color: #fff
				text-transform: uppercase
				font-size: 14px
	.dev-block
		display: block
		text-align: center
		color: #fff
		font-size: 14px
		img
			width: 25px
			margin-right: 5px
			vertical-align: text-bottom